html { 
    background-color: #FFF8DC;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #FFF8DC;
  Font-size: 100px;
  text-align: center;
  font-weight: bold;
}

.btn-wrapper {
  text-align: center;
}

.btn {
  background-color: #003366;
  color: white;
}

btn:active {
  transform: translateY(3px);
}

#ClickButton:hover {
  color: white;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

th {
  text-align: center;
  color: #1F1209;
  font-size: 30px;
}

#googleMap {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  min-width: 250px;
  /*border: 5px solid #003366;*/
  box-shadow: 0 0 30px 3px dimgrey;
}

#header {
  background-color: #003366;
  margin-top: 0px;
}

.boxModel {
  background-color: transparent;
  /*border: 5px solid darkslategrey;*/
  padding: 25px;
  margin: 5px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#MapLocator{
    padding:20px;
    display:none;
}

body {
  background-color: #FFF8DC;
}

#address-panel {
  /*position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;*/
  background-color: #FFF8DC;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

/*http://www.colorcombos.com/color-schemes/11/ColorCombo11.html*/
